steps:
  - template: before-all.yml

  - task: Npm@1
    displayName: 'Install'
    inputs:
      command: ci

  - task: Npm@1
    displayName: 'Lint'
    inputs:
      command: custom
      customCommand: run lint

  - task: Npm@1
    displayName: 'Test'
    inputs:
      command: custom
      customCommand: test

  - task: Npm@1
    displayName: 'Pack'
    inputs:
      command: custom
      customCommand: pack
    condition: and(eq(variables['Agent.OS'], 'Linux'), ne(variables['System.PullRequest.IsFork'], 'True'))

  - task: CopyFiles@2
    displayName: 'Copy Package'
    inputs:
      Contents: 'microsoft-compose-language-service*.tgz'
      TargetFolder: '$(build.artifactstagingdirectory)'
    condition: and(eq(variables['Agent.OS'], 'Linux'), ne(variables['System.PullRequest.IsFork'], 'True'))

  - task: AzureArtifacts.manifest-generator-task.manifest-generator-task.ManifestGeneratorTask@0
    displayName: 'SBoM Generation Task'
    inputs:
      #BuildDropPath: '$(System.ArtifactsDirectory)'
      BuildDropPath: '$(build.artifactstagingdirectory)'

  - task: PublishBuildArtifacts@1
    displayName: 'Publish Package'
    inputs:
      PathtoPublish: '$(build.artifactstagingdirectory)'
      ArtifactName: 'microsoft-compose-language-service'
    condition: and(eq(variables['Agent.OS'], 'Linux'), ne(variables['System.PullRequest.IsFork'], 'True'))

  - template: after-all.yml
