# Trigger the build whenever `main` or `rel/*` is updated
trigger:
  - main
  - rel/*

pr: none # Disable PR trigger

# Scheduled nightly build
schedules:
  - cron: "0 0 * * *"
    displayName: Nightly scheduled build
    always: false # Don't rebuild if there haven't been changes
    branches:
      include:
        - main

# Grab the base templates from https://github.com/microsoft/vscode-azuretools/tree/main/azure-pipelines and OneBranch
resources:
  repositories:
    - repository: templates
      type: git
      name: OneBranch.Pipelines/GovernedTemplates
      ref: refs/heads/main

# Use those templates
extends:
  template: v2/OneBranch.Official.CrossPlat.yml@templates
  parameters:
    stages:
      - template: common-build.yml
